/* Styles for use thorughout the Website */
:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --nav-size: 60px;
  --transition-speed: 400ms;
}
  
body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}



/* Changing how the Scroll Bar looks */
/* ################################# */
body::-webkit-scrollbar {
  width: 1rem;
}
  
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
  
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
/* ################################# */



/* For use throughout the contents of the main page */
main {
  margin-left: 5rem;
  padding: 1rem;
  background-color: var(--bg-secondary);
  height: 100vh;
}




/* Styling for the navigation bar that sits over the whole site.
    Centres all the icons to the middle of the coloured bar and 
    moves the last item of the class "nav-item" to the bottom of
    the flexbox (which in this case means the bottom of the user's
    window. DON'T FORGET TO SET THE PARENT OF "nav-item"'s height
    to the same as the navbar-nav!!!!! */
/* ################################# */
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  align-items: top;

  transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.nav-item {
    width: 100%;
    text-decoration: none;
}

.nav-item:last-child {
    margin-top: auto;
}
/* ################################# */



/* Setting the text that accompanies the icons to only
    appear when the user hover's over the link */
/* ################################# */  
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;

    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.link-text {
    display: none;
    margin-left: 1rem;
}
/* ################################# */



/* Setting a minimum size for the SVG's so they stay
    visible */
.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}



/* Some Transition styling for making the Nav bar open up,
    display text next to each icon, and highlight them a colour
    when we hover over them. This is done by giving them a greyscale
    above (see .nav-link above), and transitioning it away
    
    .navbar:hover has been moved to the Large screen media query!!!!
    .navbar:hover .link-text moved to the Large Screen media query!!!! */
/* ################################# */
.fa-primary {
    /*color: #ff7eee;*/
    color: #128f1d;
}

.fa-secondary {
    /*color: #df49a6;*/
    color: #3bdf51;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
/* ################################# */



/* Styling for the Nav bar's logo and text */
.logo {
    font-weight: bold;
    text-transform: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
    text-decoration: none;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}




/* Home Page Styling */




/* Small Screen Media Query (Intended for phone Portrait) */
@media only screen and (max-width: 600px) {
    /* Here we move the navbar to be along the bottom
        of the user's screen */
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    /* We remove the logo as it takes up too much room on
        small screens */
    .logo {
        display: none;
    }

    /* We also change the direction of the flexbox so that it
        is treated like a row on the bottom of the screen, not a column */
    .navbar-nav {
        flex-direction: row;
    }

    /* Centering the icons to the X axis center of the navbar now
        that it has moved */
    .nav-link {
        justify-content: center;
    }

    /* Also, we remove the gap in the main element and the bar */
    main {
        margin: 0;
    }

}


/* Large Screen Media Query */
@media only screen and (min-width: 600px) {
    /* The styling here will only be applied to screens
        with a width of greater than 600 pixels (i.e. laptops/pc's)
        so that the nav bar looks clean and smooth, with full functionality */
    .navbar {
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }

}

.linebreak {
    white-space: pre-line;
}